@font-face {
    font-family: 'Tahoma';
    src: url('tahoma.ttf') format('truetype');
  }
@font-face{
    font-family:'Syncopate';
    src:url('Syncopate-Bold.ttf') format('OTF'),
        url('Syncopate-Regular.ttf') format('OTF');
}

  

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Tahoma;
    text-transform: capitalize;
    text-decoration: none;
}

header{
    background-color: #ffffff;
    background-position: center;
    background-size: cover;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container{
    max-width: 1100px;
    margin: 0 auto;
}
.menu{
    position: absolute;
    top: 10px;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;

    align-items: center;
    z-index: 1000;
}
.cLogo{
    display: flex;
    align-items: center;
}
.menu .img-logo{
    width: 40px;
    margin-left: 25px;
    border-radius: 15px;
}
.menu .logo{
    font-weight: bold;
    font-size: 25px;
    color: #000;
    margin-left: 10px;
}

.menu .navbar ul{
    list-style: none;
    display: inline-flex;
    align-items: center;
}
.menu .navbar ul li{
    position: relative;
    float: left;
}
.menu .navbar ul li .pa{
    font-size: 18px;
    padding: 20px;
    color: #000;
}
.menu .navbar ul li .pa:hover{
    border-bottom: 4px solid #7b24b6;
}


.menu .navbar ul li .btn-IniciarSesion{
    display: inline-block;
    background-color: #d5c6dc;
    padding: 15px 25px;
    border-radius: 10px;
    color: #572975;
    margin-right: 20px;
}
.menu .navbar ul li .btn-IniciarSesion:hover{
    background-color: #bc73dd;
    color: #ffffff;
}
.menu .navbar ul li  .btn-Registro{
    display: inline-block;
    background-color: #7b24b6;
    padding: 15px 25px;
    border-radius: 10px;
    color: #ffffff;
   
}
.menu .navbar ul li  .btn-Registro:hover{
    background-color: #a73fec;
}

#menu{
    display: none;
}

.menu-icono{
    width: 25px;
}
.menu label{
    cursor: pointer;
    display: none;
}

main{
    width: 100vw;
}
.contenido{
    position: absolute;
    width: 100%;
    height: 90vh;
}
.contenido .img-back{
    width: 100%;
    height: 85vh;
    object-fit: cover;
    position: relative;
}

main h1{
    position: fixed;
    top: 30%;
    left:10%;
    font-size: 50px;
    width: 600px;
    font-family: 'Tahoma';
    font-size: 60px;
}

.contenido .btn-empieza{
    display: flex;
    position: fixed;
    z-index:10;
    left: 10%;
    bottom: 20%;
    border-radius: 6px;
    background-color: #8c30f5;
    color: #ffffff;
    padding: 10px 25px;
}
.contenido .img-cafe{
    display: flex;
    position: fixed;
    flex-direction: column;
    top:20%;
    right:30%;
    height: 100px;
    width: 100px;
    z-index: 9;
}
.contenido .img-cafe .i1{
    width: 269px;
    height: 250px;
    border-radius: 22px;
    z-index: 7;
}
.contenido .img-cafe .i2{
    position: fixed;
    right: 300px;
    top: 35%;
    border-radius: 28px;
    width: 150px;
    height: 270px;
    z-index: 8;
}
footer{
    position: absolute;
    height: 10vh;
    width: 100%;
    bottom: 0;
    background-color: #0B0D17;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    
}
footer h3{
    color: #ffffff;
    font-weight: normal;
}
footer h2{
    display: flex;
    align-items: center;
    color: #FFFAFA;
    font-feature-settings: 'salt' on, 'clig' off, 'liga' off;
    font-family: 'Syncopate', 'Tahoma';
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px; /* 133.333% */
}
footer .redes{
    position: relative;
    width: 200px;
    display: inline-flex;
    justify-content: space-evenly;
    align-items: center;
}
footer .redes img{
    border-radius: 600px;
    background-color: #0e101d;
}


@media (max-width:768px){
    .menu{
        padding: 20px;
    }
    .cLogo{
        float: none;
        width: auto;
        justify-content: center;
    }
    .menu label{
        display: initial;
        
    }
    .menu .navbar {
        float: none;
        position: absolute;
        z-index: 9;
        left: 0;
        right: 0;
        top: 100px;
        bottom: 100%;
        width: auto;
        height: auto;
        flex-direction: column;
        justify-content: space-evenly;
        background-color: rebeccapurple;
        overflow: hidden;
        transition: all .5s ease-in-out;

    }
    .menu   .navbar ul .pa{
        font-size: 20px;
        width: 100%;
    }
    #menu:checked ~ ul {
        bottom: 0;
    }
    .navbar .icon-bars{
        display: block;
    }
    .navbar .icon-bars:active{
        color: #a73fec;
    }
    .navbar .icon-bars:focus{
        color: blue;
    }


}